@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic);

body {
	background: #EEE url(images/30.png);
	margin: 0px auto;
	width: 1100px;
	font-family: 'PT Sans Narrow', sans-serif;
}

h1 { font-size:40px; }
h2 { font-size:30px; }
h3 { font-size:15px; }

.font {
	font-size: 28px;
}


#scrollPanel {
	position: fixed;
	margin: 0px auto;
	background: #444;
	display: block;
	width: 1085px;
	list-style-type: none;
	z-index: 100;
	top: 0px;
	_margin-left: -32px;
	padding: 12px 8px;
}

#scrollPanel li {
	display: inline;
}

#scrollPanel li a {
	font-size: 22px;
	color: #FFF;
	text-decoration: none;
	padding: 12px 8px;
}

#scrollPanel li a:hover {
	background: #f9a333;
	padding: 3px 8px;
	border-radius: 3px;
	box-shadow: 0 0 10px #000 inset;
}


.raised {
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}        

.raised:before,
.raised:after {
    content:"";
    position:absolute;
    z-index:-2;
}



.content {
	background: #dce7eb;
	box-shadow: 0 0 7px #999;
	border-radius: 0 0 15px 15px;
}

.content1 img {
	box-shadow: 0px 5px 5px #999;
	border-radius: 50px;
	padding: 3px;
	background: #FFF;
	border: 1px solid #888;
}

.header {
	background: linear-gradient(to top, #333 0%, #666 50%, #333 100%);
	background: -webkit-linear-gradient(bottom, #333 0%, #666 50%, #333 100%);
	background: #333 url(images/11.png);
	_border-radius: 15px 15px 0 0;
	padding: 15px 0;
	text-align: center;
	color: #FFF;
	font-size: 45px;
	margin-top: 70px;
}

.callback-header-screen {
	position: absolute;
	background: url(screen/callback_header.png) no-repeat;
	width: 255px;
	height: 75px;
	margin-left: 840px;
	margin-top: -75px;
}

a.site-name {
	color: #FFF;
	text-decoration: none;
}

a.site-name:hover {
	color: #dc7224;
}

.header-info {
	background: url(images/header.jpg) no-repeat;
	width: 1100px;
	height: 619px;
}

.header-info-left {
	float: left;
	width: 50%;
}

.src-header {
	margin: 0px 0px;
}

.price-header-fon {
	margin-left: 60px;
	margin-top: -70px;
	width: 250px;
	background: #f7ef75;
	padding: 5px 10px;
	border-radius: 7px;
	box-shadow: 0 0 5px #888;
	z-index: 100;
}

.price-title-header {
	font-size: 24px;
	padding-left: 10px;
}

.price-header {
	font-size: 22px;
	padding-left: 10px;
}

.podarki {
	position: absolute;
	background: #f0ecae;
	width: 270px;
	margin-top: 220px;
	margin-left: 385px;
	padding: 15px 10px;
	border-radius: 8px;
	box-shadow: 0 0 5px #888;
	opacity: 0.8;
}

.podarki-title {
	font-size: 30px;
	color: #660066;
	text-align: center;
}

.podarki-text {
	margin-top: 15px;
	font-size: 25px;
	padding-left: 10px;
	border-left: 3px solid #fa9849;
}

.slogan-left {
	font-size: 30px;
	padding-top: 10px;
	text-align: center;
	text-shadow: 0px 1px #FFF;
}

.header-info-right {
	float: right;
	width: 50%;
	margin-top: 50px;
}

.contacts-header {
	width: 350px;
	background: #FFF;
	height: 60px;
	margin-left: 150px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px #888;
	margin-top: 50px;
}

.contacts-header-icov {
	float: left;
	background: url(screen/icon_tel_header.png) left no-repeat;
	width: 64px;
	height: 64px;
}

.contacts-header-tel {
	text-align: center;
	font-size: 25px;	
}

.contacts-header-work {
	text-align: center;
	font-size: 32px;	
}

.slogan-right {
	width: 350px;
	font-size: 35px;
	margin-left: 120px;
	text-shadow: 0px 1px #FFF;
	text-align: center;
	padding: 0px 40px;
	margin-bottom: 33px;
	color: #000099;
}

.header-call-form {
	margin-left: 120px;
}

.price-old {
	color: red;
	text-decoration: line-through;
}

.price-new {
	color: green;
}

.title-razdel {
	font-family: 'Philosopher', sans-serif;
	background: linear-gradient(to top, #16558E, #4d8bc4);
	background: -webkit-linear-gradient(bottom, #16558E, #4d8bc4);
	border: 1px solid #AAA;
	text-align: center;
	margin: 0px 0 20px 0px;
	padding: 10px 0;
	font-size: 32px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px #444;
	text-transform: uppercase;
	box-shadow: 0 5px 10px #999;
}

.galka {
	background: url(images/tick32.png) no-repeat;
}

.galka-text {
	height: 32px;
	margin-left: 20px;
	font-size: 25px;
	padding-left: 45px;
	padding-bottom: 30px;
}

.galka-text img {
	padding-right: 10px;
}

.text {
	padding: 10px 20px;
	font-size: 25px;
	text-align: justify;
}

.text-center {
	padding: 10px 20px;
	font-size: 25px;
	text-align: center;
}

.text-table {
	padding: 10px 20px;
	font-size: 25px;
}

.center {
	text-align: center;
}

.button-zakaz {
	background: url(images/add_to_cart.png) no-repeat;
	margin: 0px auto;
	width: 450px;
	height: 110px;
}

.button-zakaz-right {
	z-index: 500;
	position: fixed;
	width: 70px;
	height: 300px;
	background: url(images/zakazat.png);
	right: 0px;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
}
.button-zakaz-mini {
	background: url(images/add_to_cart_mini.png) no-repeat;
	margin: 0px auto;
	width: 250px;
	height: 52px;
}

.call-form-fon {
	margin: 0px auto;
	width: 330px;
	background: linear-gradient(to top, #a15a8a, #e6b8d7);
	background: -webkit-linear-gradient(bottom, #a15a8a, #e6b8d7);
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #AAA;
	box-shadow: 0 0 5px #888;
	opacity: 0.8;
}

.call-form-fon1 {
	margin: 0px auto;
	width: 330px;
	background: linear-gradient(to top, #a15a8a, #e6b8d7);
	background: -webkit-linear-gradient(bottom, #a15a8a, #e6b8d7);
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #AAA;
	box-shadow: 0 0 5px #888;
}

.call-form-fon-full {
	margin: 0px auto;
	width: 330px;
	_background: linear-gradient(to top, #A83B00, #FD9C01);
	_background: -webkit-linear-gradient(bottom, #A83B00, #FD9C01);
	background: #FFF;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #AAA;
	box-shadow: 0 0 5px #888;
}

.call-name, .call-phone {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	text-align: right;
}

.winput {
	width: 330px;
	color: #555;
	border-radius: 5px;
	border: 1px solid #AAA;
	height: 25px;
	padding-left: 7px;
	text-align: left;
}

.winput-message {
	width: 330px;
	height: 50px;
	color: #555;
	border-radius: 5px;
	border: 1px solid #AAA;
	padding-left: 7px;
	text-align: left;
}

.send-zakaz {
	width: 330px;
	height: 40px;
	background: #E9970D;
	color: #FFF;
	font-size: 35px;
}

.zakaz {
	width: 330px;
	background: #E9970D;
	color: #FFF;
	font-size: 45px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 6px #444;
	border-radius: 10px;
}

.zakaz a {
	text-decoration: none;
	color: #FFF;
}

.zakaz a:hover {
	text-decoration: none;
	color: #c7d4f8;
}

.report-send {
	background: #EEE;
	text-align: center;
	padding: 15px;
	_font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
}

.footer {
	height: 120px;
	background: #333;
	color: #FFF;
	font-size: 30px;
	padding: 15px 0;
	border-radius: 0 0 15px 15px;
	text-align: center;
	margin-bottom: 10px;
}

/* Начало модальное окно - заказ звонка*/ 
#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
	font-family: Georgia;
	}
#boxes .window {
	position: fixed;
	left:0;
	top:0;
	_width:440px;
	_height:200px;
	display:none;
	z-index:9010;
}
#boxes #dialog {

}
.close {
	float: right;
	margin-top: -30px;
	margin-right: 20px;
	font-size: 16px !Important;
}
a.close {
	color: #FFF;
	text-decoration: none;
	font-size: 25px;
}
a.close:hover {
	color:red;
	text-decoration: underline;
}
/* Конец модальное окно - заказ звонка*/


/* Начало модальное окно форма заказа*/ 
#mask-full {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
	font-family: Georgia;
	}
#boxes-full .window-full {
	position: fixed;
	left:0;
	top:0;
	_width:440px;
	_height:200px;
	display:none;
	z-index:9010;
}
#boxes-full #dialog-full {

}
.close-full {
	float: right;
	margin-top: -30px;
	margin-right: 20px;
	font-size: 16px !Important;
}
a.close-full {
	color: #222;
	text-decoration: none;
	font-size: 25px;
}
a.close-full:hover {
	color:red;
	text-decoration: underline;
}
/* Конец модальное окно форма заказа*/


/* Начало CSS слайдера */
 .slider {
 z-index: 9;
 width: 1100px;
 height: 290px;
 overflow: hidden;
 margin: 7px 0 7px 0;
 position: relative;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 1100px;
 height: 290px;
 }
 .slider .nav {
 position: absolute;
 left: 15px;
 bottom: 12px; 
 }
 .slider .nav span {
 opacity: 0.9;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }
/* Конец CSS слайдера */

.get-full {
	font-size: 18px;
}

.get-full-opis {
	font-size: 13px;
	padding-left: 25px;
}

.share1 {
	position: fixed;
	top: 70px;
	left: 5px;
}

.share {
	z-index: 500;
	position: fixed;
	left: 0px;
	top: 50%;
	transform: translate(0%, -50%);
	-webkit-transform: translate(0%, -50%);
}

.error {
color: red;
font-weight: bold;
font-size: larger;
}
